<h1>完了一覧</h1>
<p><%= link_to("トップに戻る", root_path) %></p>
<hr>
<p><%= link_to("インポート一覧", "/imports") %></p>
<p><%= link_to("未完了一覧", "/imports/non_done") %></p>
<hr>
<table  border="2" rules="all" class="table">
    <tr>
      <th class="center w20">番号</th>
      <th class="center w30">製品番号</th>
      <th class="center w30">型番</th>
      <th class="center w20">完了</th>
    </tr>
  <% n = 1 %>
  <% @imports.each do |import| %>
    <tr>
      <td class="center w20"><%= "#{n}" %></td>
      <td class="center w30"><%= "#{import.product_number}" %></td>
      <td class="center w30"><%= link_to("#{import.model_number}", "/scrapings/#{import.model_number}") %></td>
      <% if import.done == true %>
        <td class="center w20 blue"><%= "○" %></td>
      <% end %>
      <% if import.done == false %>
        <td class="center w20 red"><%= "×" %></td>
      <% end %>
    </tr>
    <% n += 1 %>
  <% end %>
</table>
<hr>
<p><%= link_to("トップに戻る", root_path) %></p>